Writable:
  LogLevel: "INFO"

Service:
  Host: localhost
  Port: 59993
  StartupMsg: "device snmp started"
  
# uncomment when running from command-line in hybrid mode with -cp -o flags
# Clients:
#   core-metadata:
#     Host: "localhost" 
# Registry:
#   Host: "localhost"

MessageBus:
  # Host: localhost # uncomment when running from command-line in hybrid mode
  Optional:
  # Default MQTT & NATS Specific options that need to be here to enable environment variable overrides of them
    ClientId: "device-snmp"
